<ng-container *ngIf="dataSource$ | async as dataSource">
<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Occupation">
    <mat-header-cell *matHeaderCellDef> Occupation </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Occupation}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Age">
    <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Age}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Email}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>


<mat-paginator #paginator="matPaginator" [pageSize]="500" [pageSizeOptions]="[50, 100, 200, 500]"></mat-paginator>
</ng-container>
