<mat-form-field>
  <mat-label>Filter Record</mat-label>
  <input matInput #filterInput (keyup)="applyFilter(filterInput.value)" placeholder="Filter">
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="occupation">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Occupation </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.occupation}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator #paginator="matPaginator" [pageSize]="50" [pageSizeOptions]="[50, 100, 200, 500]"></mat-paginator>